### Imports

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
#Sklearn
from sklearn.decomposition import NMF, LatentDirichletAllocation, TruncatedSVD
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.manifold import TSNE

#other
import concurrent.futures
import time
import pyLDAvis.sklearn
from pylab import bone, pcolor, colorbar, plot, show, rcParams, savefig
import warnings
warnings.filterwarnings('ignore')


%matplotlib inline

# Plotly 
from plotly import tools
import chart_studio.plotly as py
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.figure_factory as ff

#spaCy
import spacy
nlp = spacy.load("fr_core_news_lg")
from spacy.lang.fr.stop_words import STOP_WORDS
from spacy.lang.fr import French
import string
punctuations = string.punctuation
stopwords = list(STOP_WORDS)

### Load (acceptably clean) data

In [34]:
data=pd.read_pickle("../../data/cleaned2.pkl")
data_np=data.to_numpy()

In [35]:
i=random.randint(1, 40000)
data_np[i]

"le rapport public annuel . Cour des comptes. introduit par une analyse de la situation d’ensemble des finances publiques fin janvier le tome du rapport public annuel de la cour des comptes expose une sélection d’observations suivies de recommandations mesures concrètes visant améliorer l’utilisation des fonds publics et l’efficacité des services publics. ses 15 chapitres sont regroupés autour de quatre thèmes : les finances publiques les politiques publiques la gestion immobilière publique et les territoires. ils mettent en exergue des échecs mais également des progrès et des réussites. le tome ii présente les suites données par les administrations collectivités et autres organismes contrôlés aux observations et recommandations formulées les années précédentes. pour la première fois un chapitre est consacré au suivi des recommandations des chambres régionales et territoriales des comptes en application de la loi d’août portant nouvelle organisation territoriale de la république. 12 chapitres sont ensuite regroupés en trois catégories en fonction du degré de mise en œuvre des recommandations matérialisé par trois couleurs : vert la cour constate des progrès orange la cour insiste et rouge la cour alerte . enfin le tome iii présente l’organisation et les missions de la cour et des chambres régionales et territoriales des comptes. ce rapport est accessible sur le site de la publications . les fichiers publiés correspondent aux données ayant servi de base l'élaboration du rapport.. nan"

In [4]:
import progressbar
bar = progressbar.ProgressBar(maxval=len(data_np), \
    widgets=[progressbar.Bar('=', '[', ']'), ' ', progressbar.Percentage()])

## Process data to extract keywords only

### Extract the locs

In [7]:
def extract_locs(doc):
    all_locs=[None]*len(doc)
    bar.start()
    for i in range(len(doc)):
        this_doc=[]
        for token in nlp(doc[i]):
            if token.ent_type_=='LOC':
                this_doc.append(token.text)
        all_locs[i]=this_doc
        bar.update(i+1)
    bar.finish()
    return(all_locs)

import unicodedata
def strip_accents(text):

    try:
        text = unicode(text, 'utf-8')
    except NameError: # unicode is a default on python 3 
        pass

    text = unicodedata.normalize('NFD', text)\
           .encode('ascii', 'ignore')\
           .decode("utf-8")

    return str(text)

In [31]:
all_locs=extract_locs(data_np)

[========================================================================] 100%

In [93]:
stop_loc=['Région', 'Métropole', 'Region', 'Metropole','Mer', 'mer', 'Département', 'DEPARTEMENT', 'Agglomération', 'agglomération','Communauté', 'communauté']

In [94]:
all_locs_ns=[None]*len(all_locs)
for i in range(len(all_locs)):
    mini_list=[x for x in all_locs[i] if x not in stop_loc]
    all_locs_ns[i]=mini_list

In [95]:
all_locs_ns_str=all_locs_ns
for i in range(len(all_locs_ns)):
    all_locs_ns_str[i]=' '.join(all_locs_ns[i])

In [96]:
len(all_locs_ns_str)

42838

In [97]:
all_locs_np=np.array(all_locs)

In [29]:
np.save('../../data/locs_insee_str.npy', all_locs_ns_str, allow_pickle=True)

### Compare with insee tables

In [30]:
all_locs_ns_str=np.load('../../data/locs_insee_str.npy', allow_pickle=True)

In [31]:
all_locs_ns_str[:10]

array(['Paris île-de-france', 'Chambéry', 'chambéry Chambéry', 'corse',
       'corse', 'orléans métropole Orléans', 'pr saint-denis geospatial',
       '', '', 'capvern nan capvern département des hautes-pyrénées'],
      dtype=object)

In [36]:
departements=pd.read_csv('../../data/departement2019.csv')
communes=pd.read_csv('../../data/communes-01012019.csv')
regions=pd.read_csv('../../data/region2019.csv')

In [37]:
communes_names=communes['nccenr'].to_numpy()

In [38]:
departements_names=departements['nccenr'].to_numpy()

In [39]:
regions_names=regions['nccenr'].to_numpy()

In [40]:
not_comm_names=list(departements_names)+list(regions_names)##+['France', 'Europe', 'Monde']

In [61]:
communes_prblm = list(np.load('../../data/communes_prblm.npy', allow_pickle=True))

In [60]:
np.save('../../data/communes_prblm.npy', np.array(communes_prblm, dtype=object), allow_pickle=True)

In [ ]:
communes_prblm=[]
for i in communes_names:
    for j in not_comm_names:
        if fuzz.token_set_ratio(i,j)==100:
            communes_prblm.append(i)

In [22]:
all_locs_ns_str[25]

'île-de-france Île-de-France'

In [23]:
regions_names

array(['Guadeloupe', 'Martinique', 'Guyane', 'La Réunion', 'Mayotte',
       'Île-de-France', 'Centre-Val de Loire', 'Bourgogne-Franche-Comté',
       'Normandie', 'Hauts-de-France', 'Grand Est', 'Pays de la Loire',
       'Bretagne', 'Nouvelle-Aquitaine', 'Occitanie',
       'Auvergne-Rhône-Alpes', "Provence-Alpes-Côte d'Azur", 'Corse'],
      dtype=object)

In [43]:
from fuzzywuzzy import fuzz
def is_in(locs, category):
    values=[]
    for i in category:
        values.append(fuzz.token_set_ratio(locs, i))
        maxi=max(values)
    max_item=[i for i, j in enumerate(values) if j == maxi]   
   # print(max_item)
    if values[max_item[0]]==100:
        found=True
        if len(max_item)>1:
            values2=[]
            for w in max_item:
                values2.append(fuzz.ratio(locs, category[w]))
          #  print(values2)
            max_item_item=values2.index(max(values2))
            max_item=[max_item[max_item_item]]
    else:
        found=False
    return(max_item[0], found)

In [44]:
def text_to_loc(text):
    if text=='':
        return(None)
    if (text.find(' france')!=-1) or (text.find(' France')!=-1):
            return('France')
    max_item, found_c=is_in(text, communes_names)
    location=communes.loc[[max_item]]
    if communes_names[max_item] in communes_prblm:
        found_c=False
    if found_c==False:
        max_item, found_d=is_in(text, not_comm_names)
        try:
            location=departements.loc[[max_item]]
        except:
            location=regions.loc[[max_item-len(departements_names)]]
        return(location)
    return(location)

In [58]:
location=text_to_loc('Paris île-de-cité france.')

In [59]:
location

'France'

In [19]:
'île de france'.find('  france')

-1

In [114]:
i=random.randint(1,len(all_locs_ns_str))
#i=27944
print('TEXTE INITIAL: '+ data_np[i])
t = time.time()
location=text_to_loc(all_locs_ns_str[i])
elapsed = time.time() - t
print('MOTS EXTRAITS'+ all_locs_ns_str[i])
print(' ')
print('Localisation INSEE:')
print(location)
print('Computed in '+str(elapsed) )

TEXTE INITIAL: zonage réglementaire du plan de prévention du risque inondation ppri sur la commune de figanières var . Direction Départementale des Territoires et de la Mer du Var. les plans de prévention des risques p.p.r codifiés aux articles -1 l -7 et suivants du code de l’environnement relatifs la prévention des risques naturels prévisibles dont la mise en œuvre relève du décret n° du octobre constituent l’un des outils de la mise en œuvre de la politique de l’état en matière de prévention des inondations qui été redéfinie en comité interministériel du 24 janvier . ce dispositif législatif et réglementaire été complété par la loi du 30 juillet . le bassin de l’argens subi le 15 juin un évènement pluvio-orageux exceptionnel ayant causé de graves dommages. un plan de prévention des risques naturels d’inondation lié la présence de la tuilière et du saint-pons sur la commune de figanières été prescrit le septembre . le plan de prévention des risques naturels d’inondation sur la commune de figanières été approuvé par arrêté préfectoral du 10 février . en fonction du niveau aléa chaque zone fait objet un règlement opposable. le règlement distingue différents types de zones : - les  zones rouges  zones d’interdiction comprenant des sous-zones - les  zones bleues  zones soumises prescription comprenant des sous-zones - les zones basses hydrographiques dont le niveau d’exposition aux risques n’est pas précisé dans le ppri  - les zones d’aléa exceptionnel. le zonage réglementaire est issu du croisement de l’aléa avec les enjeux urbains. la carte d’aléas croisement hauteurs vitesses été réalisée par un bureau d’études par modélisation sur support lidar reportée sur un . des ajustements ont été effectués la parcelle dans le cadre du report du zonage réglementaire sur fond cadastral. par ailleurs la carte réglementaire fait apparaître : - les zones basses hydrographiques qui sont la résultante de l’atlas des zones inondables croisé avec l’exzeco extraction des zones d’écoulement gt 1km²  - les zones d’aléa exceptionnel correspondant un aléa millénal. origine base: décret du 31 mai modifiant le décret du juin fixant la liste des routes grande circulation. le tracé est issue de la couche troncon route bdt .shp de la bdtopo version ed de ign. noter quelques interrogations subsistent: - 6-debut : la été prise partir de origine comme dans le plan 6-début. - 9-fin : la bretelle été enlevée et la route nommée nc correspond en fait la . comme dans le plan 9-fin. - 5-debut-et-fin : pour le début : extrémité de la rue robert guillemard pour la fin: avant arriver l il a un morceau nc pris aussi pour atteindre . -debut : il a beaucoup de bretelles elles font partie de la . organisations partenaires ddtm var sad br liens annexes vue des cartographie dynamique de la ddtm du décret n° du 31 mai modifiant le décret n° du juin fixant la liste des routes grande affichtexte.do cidtexte amp categorielien id consulter cette fiche sur datasets . donnees-ouvertes geoscientific-information passerelle-inspire risque-zonages-risque-naturel
MOTS EXTRAITSppri figanières var Direction Départementale des Territoires et de la du Var

Localisation INSEE:
      typecom    com   reg dep  arr  tncc         ncc      nccenr     libelle  \
35132     COM  83056  93.0  83  831     0  FIGANIERES  Figanières  Figanières

        can  comparent
35132  8304        NaN
Computed in 8.728276014328003

In [113]:
i

39298

In [ ]:
#39298 huat de france et français

In [45]:
all_locs_ns_str[20751]

'rivière marne de châlons-en-champagne Direction Départementale des Territoires de la Marne'

In [224]:
communes_names[31343]#8183

'Porte-de-Savoie'

In [122]:
other=list(regions_names)+list(departements_names)+['France']

In [44]:
communes

,typecom,com,reg,dep,arr,tncc,ncc,nccenr,libelle,can,comparent
0,COM,01001,84.0,01,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...
37925,COM,97613,6.0,976,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37926,COM,97614,6.0,976,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37927,COM,97615,6.0,976,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37928,COM,97616,6.0,976,NaN,0,SADA,Sada,Sada,97612,NaN
37929,COM,97617,6.0,976,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [144]:
dpt_prblm=[]
for i in departements_names:
    for j in regions_names:
        if fuzz.token_set_ratio(i,j)==100:
            dpt_prblm.append(i)

In [48]:
for i in communes_names:
    if fuzz.token_set_ratio(i,'drôme')==100:
        print(i)

Balleroy-sur-Drôme
Lande-sur-Drôme
Val de Drôme
Livron-sur-Drôme
Loriol-sur-Drôme

In [146]:
regions_names

array(['Guadeloupe', 'Martinique', 'Guyane', 'La Réunion', 'Mayotte',
       'Île-de-France', 'Centre-Val de Loire', 'Bourgogne-Franche-Comté',
       'Normandie', 'Hauts-de-France', 'Grand Est', 'Pays de la Loire',
       'Bretagne', 'Nouvelle-Aquitaine', 'Occitanie',
       'Auvergne-Rhône-Alpes', "Provence-Alpes-Côte d'Azur", 'Corse'],
      dtype=object)

In [164]:
departements_names

array(['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence',
       'Hautes-Alpes', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège',
       'Aube', 'Aude', 'Aveyron', 'Bouches-du-Rhône', 'Calvados',
       'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze',
       "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Dordogne', 'Doubs',
       'Drôme', 'Eure', 'Eure-et-Loir', 'Finistère', 'Corse-du-Sud',
       'Haute-Corse', 'Gard', 'Haute-Garonne', 'Gers', 'Gironde',
       'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère',
       'Jura', 'Landes', 'Loir-et-Cher', 'Loire', 'Haute-Loire',
       'Loire-Atlantique', 'Loiret', 'Lot', 'Lot-et-Garonne', 'Lozère',
       'Maine-et-Loire', 'Manche', 'Marne', 'Haute-Marne', 'Mayenne',
       'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre',
       'Nord', 'Oise', 'Orne', 'Pas-de-Calais', 'Puy-de-Dôme',
       'Pyrénées-Atlantiques', 'Hautes-Pyrénées', 'Pyrénées-Orientales',
       'Bas-Rhin', 'Haut-Rhin', 'Rhône', 'Haute-Saône', 'Saône-et-Loire',
       'Sarthe', 'Savoie', 'Haute-Savoie', 'Paris', 'Seine-Maritime',
       'Seine-et-Marne', 'Yvelines', 'Deux-Sèvres', 'Somme', 'Tarn',
       'Tarn-et-Garonne', 'Var', 'Vaucluse', 'Vendée', 'Vienne',
       'Haute-Vienne', 'Vosges', 'Yonne', 'Territoire de Belfort',
       'Essonne', 'Hauts-de-Seine', 'Seine-Saint-Denis', 'Val-de-Marne',
       "Val-d'Oise", 'Guadeloupe', 'Martinique', 'Guyane', 'La Réunion',
       'Mayotte'], dtype=object)

In [129]:
len(communes_prblm)

809

In [114]:
data_np[3422]

"concentrations en nitrates d'origine agricole - - eaux souterraines - france entière. Système d'Information sur l'Eau. la directive 91 cee du 12 décembre dite directive nitrates vise protéger la qualité de eau en prévenant la pollution des eaux souterraines et superficielles par les nitrates d’origine agricole notamment en promouvant usage des bonnes pratiques agricoles de gestion de l’azote. ses orientations sont largement reprises dans la directive cadre sur l’eau dce 60 ce du 23 octobre . elle impose aux états membres de : •\tréaliser des campagnes de surveillance des concentrations en nitrates dans les milieux aquatiques eaux superficielles et souterraines au moins tous les quatre ans •\tdésigner des zones de protection spécifiques atteintes ou menacées par la pollution par les nitrates d’origine agricole dites zones vulnérables •\télaborer des programmes d’actions dont les mesures doivent être obligatoirement appliquées par les agriculteurs qui exercent leurs activités en zones vulnérables •\tétablir des bonnes pratiques agricoles fertilisation azotée gestion des terres mettre en œuvre volontairement par les agriculteurs. en france la mise en œuvre de la directive nitrates débute en avec la première campagne de surveillance : les concentrations en nitrates sont alors mesurées sur environ sites dits stations de mesure localisés dans ou près des zones agricoles. les résultats permettent d’établir la première délimitation des zones vulnérables en . puis quatre autres campagnes se succèdent et . en complément de ces campagnes spécifiques menées au titre de la directive nitrates et afin de mieux suivre l’évolution de la qualité de l’eau vis-à-vis de ce paramètre le ministère en charge de l’environnement office national de eau et des milieux aquatiques onema et l’office international de l’eau oieau réalisent chaque année depuis un document de synthèse sur les résultats des mesures de concentrations en nitrates produites dans le cadre du programme national de la surveillance des milieux aquatiques contrôle de surveillance contrôle opérationnel réseaux complémentaires en application de la dce. les stations de mesure sélectionnées pour étudier l’évolution des concentrations dans les zones soumises des pressions agricoles sont alors celles qui sont communes avec la dernière campagne menée au titre de la directive nitrates . ce jeu de données correspond aux résultats du programme national de surveillance réalisé au titre de la dce des stations sélectionnées lors de la campagne de surveillance nitrates sur la période allant du 01 10 au 30 09 pour les eaux souterraines. organisations partenaires office international de eau agences de eau offices de eau ars deal dreal consulter cette fiche sur datasets . donnees-ouvertes donnees-qualitatives eau-souterraine eaux-souterraines environment etat-du-milieu-qualite-quantite france-entiere passerelle-inspire pollution-de-leau qualite-de-lenvironnement"

### Pandas concatenation and stuff

In [19]:
regions.loc[[10]]

    reg cheflieu  tncc        ncc     nccenr    libelle
10   44    67482     2  GRAND EST  Grand Est  Grand Est

In [20]:
departements.loc[[3]]

,dep,reg,cheflieu,tncc,ncc,nccenr,libelle
3,04,93,04070,4,ALPES DE HAUTE PROVENCE,Alpes-de-Haute-Provence,Alpes-de-Haute-Provence

In [29]:
communes.loc[[7563]]

,typecom,com,reg,dep,arr,tncc,ncc,nccenr,libelle,can,comparent
7563,COM,21407,27.0,21,211,0,MESSANGES,Messanges,Messanges,2118,NaN

In [34]:
result=pd.concat([regions.loc[[10]],departements.loc[[3]], communes.loc[[7563]]],  ignore_index=True, sort=False)

In [36]:
communes.loc[[7563]].append(departements.loc[3], ignore_index=True, sort=False)

,typecom,com,reg,dep,arr,tncc,ncc,nccenr,libelle,can,comparent,cheflieu
0,COM,21407,27.0,21,211,0,MESSANGES,Messanges,Messanges,2118,NaN,NaN
1,NaN,NaN,93.0,04,NaN,4,ALPES DE HAUTE PROVENCE,Alpes-de-Haute-Provence,Alpes-de-Haute-Provence,NaN,NaN,04070

In [42]:
df=pd.DataFrame({'ncc':['France']})

In [43]:
df

      ncc
0  France

In [44]:
df.append(communes.loc[[7563]])

,ncc,typecom,com,reg,dep,arr,tncc,nccenr,libelle,can,comparent
0,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7563,MESSANGES,COM,21407,27.0,21,211,0.0,Messanges,Messanges,2118,NaN